<h1><%= "Your trip from #{@reservation.start_date} to #{@reservation.end_date}" %>

<body>
<p> Price: </p>
<p>
  <%= "$#{@reservation.price}" %>
</p>

<p> Total: </p>
<p>
  <%= "$#{@reservation.total}" %>
</p>

<ul>
  <li> <%= link_to "Edit", edit_reservation_path(@reservation) %> </li>

  <li> <%= link_to "Review", new_review_path %> </li>
</ul>