<h1> <%= @room.description %> </h1>

<p>user_id: <%= @room.user_id %><p>
<p>address: <%= @room.address %><p>
<p>city: <%= @room.city %><p>
<p>state: <%= @room.state %><p>
<p>price: <%= @room.price %><p>
<p>description: <%= @room.description %><p>
<p>home_type: <%= @room.home_type %><p>
<p>room_type: <%= @room.room_type %><p>
<p>total_occupancy: <%= @room.total_occupancy %><p>
<p>total_bedrooms: <%= @room.total_bedrooms %><p>
<p>total_bathrooms: <%= @room.total_bathrooms %><p>
<img src="<%= @room.room_image %>" class="card-img-top" alt="..."> 

<a href="/rooms/<%= @room.id %>/edit">Edit Room</a>
<a href="/rooms/<%= @room.id %>" data-turbo-method="delete">Remove Room</a>

<%= link_to "Reserve Room", new_reservation_path
 %>
